/* https://www.figma.com/file/SbEiQKRlkoSJpceJXcVgx4/Practice-landing?node-id=1%3A3162 */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  color: #18191f;
}

p {
  font-size: 1.125rem;
  line-height: 2;
}

/* *header */

header {
  background-color: #f6f9ff;
  padding: 1rem 0;
}

nav {
  display: flex;
}

.logo {
  display: flex;
  flex: auto;
  margin-left: 10%;
}

nav ul {
  list-style: none;
}
nav ul li {
  margin: 0.3rem 1rem;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
}

nav .download-option {
  margin-right: 10%;
}
nav .logo__name {
  width: 68px;
  margin: 0.3rem 0.5rem;
}
/* *Overview */
#overview {
  background-color: #f6f9ff;
  display: flex;
}
.overview__content {
  flex: auto;
  margin: 10.5rem 0 6rem 10%;
}
/* rem anta telusu kada telde*/
.overview__content h1 {
  font-size: 4.5rem;
}
.overview__content button {
  color: #fff;
  background-color: #8c30f5;
  margin: 2rem 0;
  padding: 1rem 2.6rem;
  border: 0;
  border-radius: 8px;
  font-size: 1.25rem;
}
.overview__content button:hover {
  background-color: #8c30f5d8;
}

.overview__mockup {
  /* margin: 6rem 8% 0 0; */
  position: absolute;
  right: 6%;
  top: 8rem;
}

/* *feature-1 */
#feature-1 {
  margin: 15rem 10% 0 10%;
  text-align: center;
}

.feature__title {
  margin: auto;
  padding: 0.5rem 0;
  width: 35rem;
}
.feature__title__h1 {
  font-size: 3rem;
  font-weight: 800;
}

.feature__list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.feature__list div {
  width: 20rem;
  margin: 1rem auto;
}
.feature__list__content__p {
  font-size: 1rem;
}

/* *testimonial */

#testimonial {
  background-color: #d5fafc;
}
.svg-main-quotation {
  position: absolute;
  z-index: 0;
  margin: 5rem 10% 0 10%;
}

.testimonial-div {
  position: relative;
  z-index: 2;
  margin: 5rem 16% 0 16%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto 40% auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}
.testimonail__card__content {
  display: flex;
  margin: 1rem 0;
}
.testimonail__card__content div {
  margin-left: 0.5rem;
}

.testimonial__title {
  /* width: 27rem; */
  padding-top: 7.5rem;
  grid-column: span 2;
  /* https://css-tricks.com/snippets/css/complete-guide-grid/ */
}
.testimonial__title__h1 {
  font-size: 3rem;
  font-weight: 800;
}
/* edi nenu repu alochinchi try chesta best approach epudu feature 2 try chesdam */
.testimonial__card__hubspot,
.testimonial__card__airbnb,
.testimonial__card__bms {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
}
.testimonial__card__airbnb {
  margin-top: 10rem;
  grid-row: span 2;
  grid-column: span 2;
}
.testimonial__card__hubspot {
  grid-row: span 2;
  grid-column: 2;
}
.testimonial__card__bms {
  grid-row: span 3;
  grid-column: 3;
}
/* ok */
/* *stats */
#stats {
  display: flex;
  margin: 5rem 10%;
  flex-wrap: wrap;

  align-items: center;
}
.stats__main {
  flex: 1;
}
.stats__main h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.stats__num {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.stats__num__card {
  width: 16rem;
  display: flex;
  align-items: center;
  margin: auto auto 2.5rem auto;
}

.stats__num__card span {
  display: inline-block;
  margin: 0 1rem;
}
.stats__num__content h2 {
  font-size: 1.75rem;
  font-weight: 800;
}
.stats__num__content p {
  font-size: 1rem;
}

/* *feaure-2 */

#feature-2 {
  margin: 5rem 10%;
  display: flex;
}

/* margin: 0 auto*/

.feature-2__mockup {
  background-color: #f1e4ff;
  width: 540px;
  height: 540px;
  overflow: hidden;
  text-align: center;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/transform */
.feature-2__mockup img {
  transform: translateY(56px);
}
.feature-2__content {
  width: 32rem;
  margin: auto 0 auto 1.75rem;
  padding: 3rem;
}
.feature-2__content h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
/* sara nevu type chei margin-right: 0.5rem; ok unnava*/
.feature-2__content h2 {
  margin: 2rem 0 0 0;
  color: #8c30f5;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
/* *feature-3 */
/* margin: 0 10% */
#feature-3 {
  margin: 3rem 10%;
}
/* */
.feature-3__content {
  display: flex;
  margin: 3rem 0;
}
/*  */
.feature-3__content h1 {
  flex: 1;
  font-size: 2.5rem;
  font-weight: 800;
}
.feature-3__content p {
  flex: 1;
}
.feature-3__img img {
  width: 100%;
}
/* *cta */
/* display:flex; */
#cta {
  display: flex;
  overflow: hidden;
  background-color: #2ec5ce;
}
/* flex:1 */
.cta__content {
  flex: 1;
  margin-left: 10%;
  padding: 4.25rem 0 0 0;
}
.cta__content h1 {
  font-size: 3rem;
  font-weight: 800;
}
.cta__content h3 {
  margin: 3rem 0 0.5rem 0;
  font-size: 1.125rem;
}

/* diplay:flex */
.cta__image {
  flex: 1;
  display: flex;
}
.cta__image__mockup-2 {
  transform: translate(10px, -100px);
}
.cta__image__mockup-1 {
  width: 232px;
  height: 464;
  transform: translateY(150px);
}
/* *footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 4rem 10%;
}
/* repu chedam migitadi css chudu */
/* eroju ki chalu ok */
